* {
    font-family: 'Press Start 2P';
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-fluid {
    text-align: center;
    vertical-align: middle;
    z-index: 10;
    padding: 0 !important;
    height: 100vh;
    background-position: center;
    background-image: url("../assets/images/backgrounds/background.png");
}

.gameTitle {
    text-shadow: 0.2vw 0.2vw #2e1c19;
    font-size: 8vw;
    padding: 3vw 0 1vw 0; 
    color: #412824;
    margin: 0;
}

#displayGameCode {
    font-size: 5vw;
}

/* main menu*/

#createNewGameButton, #joinGameButton, #loginAndRegisterButton, #highscoreButton, #interactionsButton {
    background-image: url("../assets/images/buttons/orangeButtonBig.png");
    background-position: center;
    text-align: center;
    font-size: 2.5vw;
    background-size: contain;
    display: block;
    width: 40%;
    margin:0 auto;
    border: none;
    margin-top: 1%;
    background-color: transparent;
} 

/**/
#playGameButton {
    margin: 2vw;
}

#canvas {
    display: none;
}

#endScreen {
    z-index: 6;
    width: 100%;
    position: fixed;
    height: 100%;
}

/*Score endscreen*/
#currentScores {
    background-image: url("../assets/images/buttons/brownTable.png");
    width: 37%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    opacity: 0.5;
    box-shadow: 0 0 1em 0.1em #00000048;
    text-align: center;
}

#currentScoresHeader {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2em;
}

#currentScoresTable {
    width: 100%;
}

#currentScoresTable td {
    padding: 1em;
}

#currentScoresTable td:first-child {
    text-align: right;
}

#currentScoresTable td:nth-child(2) {
    text-align: left;
}

.highscoreText {
    text-shadow: 0.1vw 0.1vw #2e1c19;
    color: #412824;
}

#spectateAnotherPlayer {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 63%;
    text-shadow: 0.1vw 0.1vw #0f0d0d;
}

#leaveGameButton {
    width: 16%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 70%;
    border: none;
    background-image: url("../assets/images/buttons/grayButtonSmall.png");
}

#viewBlock {
    display: none;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%,transparent 100px,black calc(320px - 32px));
    margin: 0 auto;
}

canvas {
    transform: scale(3);
    z-index: -1;
    position: absolute;
    top: 0;
}

#menuOptions {
    display: none;
}

#backgroundMusicControl {
    position: fixed;
    top: 0;
    right: 4em;
    z-index: 6;
    margin: 1em;
    width: 3em;
    height: 3em;
    display:none;
    background-image: url('../assets/images/buttons/musicOn.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#soundFxControl {
    position: fixed;
    top: 0;
    right: 8em;
    z-index: 6;
    margin: 1em;
    width: 3em;
    height: 3em;
    display:none;
    background-image: url('../assets/images/buttons/soundFxOn.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#showHelp {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    margin: 1em;
    width: 3em;
    height: 3em;
    display:none;
    background-image: url('../assets/images/buttons/helpButton.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#interactionMenu {
    position: fixed;
    z-index: 6;
    display:none;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30%;
    width: 63%;
}

.interactionButton {
    background-image: url("../assets/images/buttons/grayButtonSmall.png");
    width: 22% !important;
    border:none;
    font-size: 110%;
}

/* character select*/
.characterLabel {
    width: 32px;
    height: 32px;
    background-image:url('../assets/images/game/test.png');
}

.characterInput {
    display: none;
}

.characterItem {
    display: inline-block;
    margin: 2% 0;
    max-width: 20% !important;
}

.characterItem label {
    cursor: pointer;
}

.characterItem label:hover {
    filter: grayscale(0%);
}

#charactersContainer {
    margin: 0;
    width: 75%;
    display: inline-block;
    vertical-align: middle;
}

#characters {
    text-align: center;
}

.disabled {
    filter: grayscale(100%);
}
/**/

#inGameElements {
    display: none;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#healthOutline {
    margin: 2em;
    height: 5em;
}

#healthFill {
    margin: 2em;
    height: 5em;
    z-index: 4;
    position: absolute;
    /*4.54em = nothing, 0.4em = full heart*/
    clip: rect(0.4em, 5em, 5em, 0);
    left: 0;
}

#gemEffectMessage {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 5em;
    font-size: 2em;
    color: white;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
}

#score {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 4;
    margin: 1em;
}

/*login register */
#repeatPasswordDiv {
    display: none;
}

.inputBigButton {
    background-image: url("../assets/images/buttons/brownButtonBig.png");
    background-position: center;
    text-align: center;
    margin: 0 auto;
    width: 40% !important;
    margin-top: 1%;
    font-size: 2.5vw;
}

::placeholder {
    color: #574741;
}

#loginButton, #registerButton, #joinGameButtonAfterCodeInput, #playGameButton {
    background-image: url("../assets/images/buttons/orangeButtonSmall.png");
    background-position: center;
    font-size: 140%;
    margin-top: 1%;
    width: 41%;
    border: none;
}

.buttonControl {
    width: 45%;
    margin: 0 auto;
}

#returnToMainMenuButton, #removePlayerAndGoToMainMenu {
    background-image: url("../assets/images/buttons/grayButtonSmall.png");
    background-position: center;
    font-size: 120%;
    margin-top: 1%;
    width: 20.5%;
    border: none;
}

/* code screen */
#joinGameButtonAfterCodeInput, #playGameButton {
    width: 32%;
    margin: 1% 0 0 0;
    border: none;
}

#codeInput {
    border: none;
}

#helpWindow {
    display: none;
    position: fixed;
    top: 12.5%;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    height: 75%;
    background-color: white;
}

  
#helpHeader { 
    text-align: center;
    text-shadow: 0.2vw 0.2vw #2e1c19;
    color: #412824;
}

#closeHelp, #helpContent, #leftArrow, #rightArrow {
    background-size: cover;
    border: none;
}

#closeHelp {
    position: fixed;
    top: 3%;
    right: 0;
    height: 7%;
    width: 4.5%;
    color: #4c4a49;
    background-image:  url("../assets/images/buttons/grayButtonSquare.png");
}

#helpContent { 
    padding: 1em;
    display: inline-block;
    height: 80%;
    width: 100%;
    background-image: url("../assets/images/buttons/brownTableBig.png");
}

#leftArrow, #rightArrow {
    color: #73340e;
    float: right;
    height: 9%;
    width: 5%;
    background-image:  url("../assets/images/buttons/orangeButtonSquare.png"); 
}

#interactionsButton {
    background-image: url('../assets/images/buttons/interactionPixelart.png');
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    box-shadow: none;
    width: 2em;
    height: 2em;
    margin: 0 2em 1em 0em;
}

.categoryTitle {
    text-shadow: 0.2vw 0.2vw #2e1c19;
    font-size: 4vw;
    padding: 0 0 1vw 0; 
    color: #412824;
    margin: 0;
}

.longInput {
    background-image: url('../assets/images/buttons/brownButtonLong.png');
    color: #574741 !important; 
    border: none !important;
    display: block !important;
    padding: 0 !important;
}

.interactionForm {
    width: 75%;
    display: block;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.submitButton, .resetButton, #resetAll {
    background-color: transparent;
    width: 15% !important;
    position: relative;
    float: right;
    background-image: url('../assets/images/buttons/orangeButtonSmall.png');
    background-size: contain;
    color: #73340e;
    border: none;
}

.orangeText {
    color: #73340e;
}

.brownText {
    color: #574741;
}

.grayText {
    color: #4c4a49;
}


#resetAll {
    right: 12.5%;
    font-size: 110%;
}

#interactionForms {
    overflow-y: scroll;
    height: 50vh;
}

.categoryButtons {
    display: inline-block;
    width: 100%;
}

.backgroundPicture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.longButton {
    aspect-ratio: 1481/94;
}

.bigButton {
    aspect-ratio: 781/126;
}

.smallButton {
    aspect-ratio: 368/93;
}

.squareButton {
    aspect-ratio: 109/93;
}

.smallTable {
    aspect-ratio: 1481/572;
}

.bigTable {
    aspect-ratio: 1481/714;
}

.buttonText, .inputButtonText{
    background: none;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    height: 100%;
}

.buttonText {
    text-align: center;
}

.inputButtonText {
    text-align: left;
}

*:focus {
    outline: 0;
}

*, ::before, ::after {
    box-sizing: content-box !important;
}

#usernameInput {
    text-align: center !important;
}

.returnToMainMenuCharacterSelection {
    width: 32.5% !important;
}
