body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menuScreen, #playMenu #loginAndRegister {
    background-position: center;
    height: 80vh;
}

#repeatPassword {
    display: none;
}
.container {
    text-align: center;
    vertical-align: middle;
    max-height: 100vh;
    max-width: 100vw;
    margin: 5%;
    border: black solid 10px;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

#panel, #playMenu #loginAndRegister {
    padding-top: 5vh;
}

#gameTitle {
    text-shadow: 2px 2px;
    font-family: 'Press Start 2P';
    font-size: 8vw;
    font-weight: bold;
    margin-top: 5vw;
    margin-bottom: 6vw;
    
}

#codeDisplay {
    text-shadow: 2px 2px;
    font-family: 'Press Start 2P';
    font-size: 5vw;
    font-weight: bold;
    margin-top: 5vw;
    margin-bottom: 6vw;
}

.btn {
    padding: 1% 3%;
    border-radius: 100px 100px 100px 100px;
    font-size: 2vw;
    cursor: pointer;
}

#playGameButton {
    margin: 2vw;
}

#joinRoomToPlay {
    margin-bottom: 1%;
}
#createNewGameButton {
    margin-bottom: 1%;
}

.iconSettings {
    height: inherit;
    width: inherit;
}

#canvas {
    display: none;
}

.arrowIcon {
    width: 2vw;
    height: 2vw;
}

.form-control {
    font-size: 2vw;
}

/*Score endscreen*/
#endScreen {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em;
    position: relative;
    top: 5em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 1em 0.1em #00000048;
    border-radius: 1em;
    z-index: 5;
}

#leaveGameButton {
    position: relative;
    z-index: 6;
}

#viewBlock {
    display: none;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%,transparent 100px,black calc(320px - 32px));
    margin: 0 auto;
}

canvas {
    transform: scale(3);
    z-index: -1;
    position: absolute;
    top: 0;
}

#menuOptions {
    display: none;
}

#backgroundMusicControl {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    margin: 1em;
    width: 3em;
    height: 3em;
    display:none;
    background-image: url('../assets/images/buttons/musicOn.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#soundFxControl {
    position: fixed;
    top: 0;
    right: 4em;
    z-index: 6;
    margin: 1em;
    width: 3em;
    height: 3em;
    display:none;
    background-image: url('../assets/images/buttons/soundFxOn.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#interactionMenu {
    position: fixed;
    z-index: 6;
    display:none;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30%
}

#inGameElements {
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#healthOutline {
    margin: 2em;
    height: 7%;
}

#healthFill {
    margin: 2em;
    height: 7%;
    z-index: 4;
    position: fixed;
    left: 0;
}